/* Aquí es desde donde se van cambiar todos los aspectos generales:
Colores
imágenes 
Algunos tamaños de letra


Esto son las variables de la web. Cambiando aquí el valor de una, la cambias de golpe para todas las pantallas.
Habrá cosas que retocar cosas a mano, pero no debería ser un problemón.
*/

@font-face {
  font-family: 'Star Wars';
  src: url('./Fuentes/StarJediRounded-jW3R.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: 'Star Wars Parrafo';
  src: url('./Fuentes/StarJediHollow-A4lL.ttf') format('ttf');
  font-style: normal;
  font-weight: normal;
}

/* Así es como se meten fuentes personalizadas. Le das el nombre de la variable, la ruta con el archivo y cómo tiene que ser */

@media all{
:root {

  /*Colores*/


  /* Esto son variables que os dejo por aquí. Estaban antes usadas en el CiS, y os las voy a dejar por aquí. Tenéis ejemplos */
  /* de uso más abajo. Aquí se define la variable y luego, para usarla, pones var(--color_barra) */
  --color_barra: #1C1C22;
  /* --transpa_inicio: #2C2C3899; */
  --degradado2:#234db84b;
  --degradado1:#eb212e;

  --traspa_seccion1:#48495cc8 ;
  --traspa_seccion2:#373843c8;
  --traspa_seccion3:#6e7189c8;

  --separadores_inferiores:#48495c;

/*Imágenes de fondo*/

/* Para poner rutas, se debe poner url(ruta/al/archivo)  */
  --img_fondo_principal:url(./Imagenes/fondo_estrellas.jpg);
  --img_seccion1: url(./Imagenes/Puente_flores.jpg);
  --img_seccion2: url(./Imagenes/Project_work2.jpg);
  --img_seccion3: url(./Imagenes/Juego_plaza_virgen.JPG);
}

/* Aquí se definen características globales, tanto para ordenador como para tablets y teléfonos. */
/* Solamente he puesto que para títulos, pero podríais añadir lo que quisiérais */

body, h1, h2, p, nav, div { /* Pongo a 0 los márgenes que el navegador pone por defecto*/
  margin: 0;
  padding: 0;
}

h1,h2,h3,h4,h5{
  font-family: 'Star Wars', sans-serif;
  color: #FAF7F6;
}

p, ul, li{
  color: #FAF7F6;
  font-family: 'Star Wars Parrafo', sans-serif;
  
}

}

@media only screen and (min-width:820px){
html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Luego lo quitamos, todos tranquilos. La manera "cómoda" es un lío de código que luego tendríais que deshacer. Así está bien.  */
}

/*------------HEADER------------*/

nav{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color_barra);
  padding-top: 20;
  width: 100%;
  position: fixed;
  z-index: 10000000;
}

    
#oculto{
position:static;
}


.logo_pequeño img{
  width: 40%;
  max-width: 350px;
  margin: 0 0 15 60;
}

.bloque_derecho{
  margin-right: 30;
}

.bolas {
  display: flex;
  justify-content: end;
  align-items: end;
  margin-right: 50px;
  
}

.bolas img{
  width: 30;
  margin-left: 60px;
}

.lista_barra{
  display: flex;
  margin-right: 20px;
}

.lista_barra h4{
  margin-right: 30;
  white-space: nowrap;
  font-size: 20;
  align-items: center;
  text-shadow: black 0em 0em 0.3em;
  color: #FFE81F;
}

.lista_barra a{
  text-decoration: none;
  color: inherit;
}


.separador{
  background-color: #FAF7F6;
  height: 5px;
}

.descripcion h3{
  max-width: 70%;
  display: flex;
  text-align: justify;
  text-align-last: center;

}


.end{
  display: flex;
  background-color: rgb(0, 0, 0);
  justify-content:space-between;
  flex-direction: column;
}
.end ul {
  list-style: none;
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 0;
}

.end ul h2{
  font-size:xx-large;
}

.end ul li {
  display: flex;  
  text-align: center; /* Centra el texto horizontalmente */
  justify-content: center;
  flex-direction: column;
  width: 30%;
}

/* -------------------BODY------------------- */

.prewelcome {
  background-image: url("./Imagenes/ValenciaGente.png");
  background-size: cover;
  background-repeat: no-repeat;
}
.welcome_section h2{
  font-size:xx-large;
}

.pointless{
  margin:2%;
}

.welcome_section {
  background-color: #444554c1;
  background-image: radial-gradient(#242428 3px,transparent 3px);
  background-size: 40px 40px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.welcome_section div {
  padding-left: 3%;
  padding-right: 3%;
}

.welcome_section .welcome_imagenes {
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow-x: hidden;
  box-sizing: border-box;
}

.welcome_imagenes section{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 3%;
}

.welcome_imagenes img{
  width: 30em;
  height: 17em;
  border-right: 4px solid  white;
  border-bottom: 4px solid  white;
}
.fotos2 .join {
  margin:2%;
  display: flex;
  justify-content:end;
}


/*------------MORE ABOUT IT-------------*/

.separador_verde{
  height: 5px;
  background-color: rgb(248, 30, 15);
}
.more_section {
  background-image: url("./Imagenes/ValenciaStarWars.png");
  background-size: cover;
  width:100%;
  height: 80%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.transparencia{
  display: flex;
  flex-direction: column;
  padding: 0% 5% 0 5%;
  background: #4e4f6694;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-evenly;
}


.more_section .more_about_valencia {
  text-align:left;
  align-items: center;
  overflow: hidden;

}


.more_section .more_about_valencia h1{
  font-size: 400%;
  text-shadow: 3px 3px 9px #1f1f21af;
  padding-top: 3%;
  padding-left: 3%;
}

/* 
.more_section .texto_more {

  width: 55%;
} */


.texto_more .texto_val {
  padding: 5%;
  display: flex;
  flex-direction: column;
  text-align: justify;
  /* width:70%; */
  height: auto;
  border-bottom: 5px solid #ffffff;
  border-right: 5px solid #ffffff;
  flex-grow: 1;
}

.texto_val ul {
  list-style: none;
}



/*----------CORE TEAM----------*/
.CT {
  background-image: linear-gradient(#18181d 40%, rgb(54, 51, 51));
  display: flex;
  flex-direction: column;
}
.CT .titulo_CT {
  color: transparent;
  -webkit-text-stroke: 1px #FAF7F6;
  font-size: 3em;
  text-align: center;
  margin-top: 3%;
  margin-bottom: 3%;
}
.CT .CT_section {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  overflow-x: hidden;
}
.CT .CT_section .persona {
  background-color: #4e4f66;
  background-image: linear-gradient(to right bottom, #4a4a5e, #2f2f34);
  width: 20em;
  margin-bottom: 3em;
  display: flex;
  flex-direction: column;
  text-align: center;
  border-radius: 20px;
  
}
.persona h1 {
  padding:2%;
}
.persona .foto_cargo {
  align-items: center;
}
.persona .foto_cargo img{
  width: 100%;
}
.CT .CT_section .persona .descripcion {
  text-align: justify;
  padding-top: 5%;
  padding-left: 1em;
  padding-right: 1em;
  padding-bottom: 5%;
}

/*------------FOOTER------------*/

.lista_redes{
  display: flex;
  justify-content:space-around;
}

.contenido_abajo{
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.contenido{
  display: flex;
  width: 30%;
  text-align: center;
  justify-content: center;
  
}


#paginas{
display: flex;
justify-content: center;
text-align: start;

}

#paginas ul {
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0;
  flex-direction: column;
  text-align: start;
  justify-content: center;
  
}
  

#paginas h3 {
display: inline;
white-space: nowrap;
font-size: 1.25vw;
text-align: start;

}

#paginas a{
  display: flex;
  text-decoration-color: #FAF7F6;
  text-align: start;
}

#paginas ul li{
  display: flex;
  justify-content: center;
  text-align: start;
  margin-left: 10%;
}


#redes_sociales {
  display: flex;
  justify-content:space-around;
  margin-top: 2.5%;
}



#redes_sociales img{
  filter: grayscale(100%); /* Cambia la saturación al 100% para obtener una imagen en blanco y negro */
  display: flex;
  height: 5vw;
  color: #FAF7F6;
  flex-direction: row;
}


.lista_redes{  
  display: flex;

  align-items: center;
}

#contactos a{
  display: flex;
  text-decoration-color: #FAF7F6;
  text-align: start;
}

#contactos  {
  display: flex;
  justify-content: center;
  text-align: start;
  
  }
  
  #contactos ul {
    list-style: none;
    display: flex;
    width: 100%;
    padding: 0;
    flex-direction: column;
    text-align: start;
    justify-content: center;
  }
    
  
  #contactos h3 {
  display: inline;
  white-space: nowrap;
  font-size: 1.25vw;
  text-align: start;
  text-decoration: none;
  text-decoration-color: #FAF7F6;
  
  }
  
  #contactos ul li{
    display: flex;
    justify-content: center;
    text-align: start;
    margin-left: 10%;
  }
  

#direccion{
  display: flex;
  text-decoration: none;
}


.copyright{
  display: flex;
  justify-content: end;
}

.copyright h5{
  color: #838085;
  margin-right: 3%;
}

*, ::after, ::before {
  box-sizing: border-box;
  
}

@keyframes scroll {

  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-250px * 16));
  }
}

.Empresas_colaboradoras{
  overflow-x: hidden;
}


.slider {
  height: 100px;
  overflow: hidden;
  width: auto;
  margin: 0px;

}

.slider .slide-track {
  animation: scroll 16s linear infinite; /* Reduce la duración de la animación */
  display: flex;
  width: calc(250px * 16);
}

/* Duplica las Imagenes para crear la ilusión de continuidad */
.slider .slide {
  height: 100px;
  width: 250px;
  margin-right: 3.5%;
}
.slider .slide:last-child::after {
  content: ""; /* Pseudo-elemento para duplicar las Imagenes */
  width: 250px;
}


}

